[Unit]
Description=Taler Sandcastle
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=%h/deployment/sandcastle-ng/sandcastle-run
ExecStop=/usr/bin/podman stop -t 10 taler-sandcastle
Restart=on-failure
Type=exec

[Install]
WantedBy=default.target
