[Unit]
Description=Provision the sandcastle
ConditionPathExists=/provision/setup-sandcastle.sh

[Service]
Type=oneshot
ExecStart=/provision/setup-sandcastle.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
